{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css"
        href="{% static 'bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css"
        href="{% static 'style.css' %}" />
        <body>
            <nav class="navbar navbar-default navbar-static-top text-center">
                <a href="/">
                    <img src="{% static 'images/logo.png'%}" alt="TreasureGram">
                </a>
            </nav>
            <main class="container container--mw700" role="main">
                <div class = "row">
                    {% for treasure in treasures %}
                        <div class = "col-md-4">
                            <div class="treasure panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">{{ treasure.name}}</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="treasure-photo">
                                        <img src="{% static ""%}{{treasure.img_url}}" height="100">
                                    </div>                                                                                  
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </main>

        </body>
    </head>
</html>